.app {
  &.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #000000;

    --primary-color: #041c65;
    --secondary-color: #0453ff;

    --inverted-primary-color: #f1f1f1;
    --inverted-secondary-color: #e3e3e3;
  }
}
